<ion-content padding>

  <!-- LOGO -->
  <ion-grid>
    <ion-row>
      <ion-col offset-25 width-50>	
        <img src="assets/images/logo.png" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- LOGIN -->
  <ion-item *ngIf="cadastrar">
    <ion-label floating>Nome Fantasia</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.nome"></ion-input>
  </ion-item>

  <!-- LOGIN -->
  <ion-item>
    <ion-label floating>Login</ion-label>
    <ion-input type="text" [(ngModel)]="usuario.email"></ion-input>
  </ion-item>

  <!-- SENHA -->
  <ion-item>
    <ion-label floating>Senha</ion-label>
    <ion-input type="password" [(ngModel)]="usuario.senha"></ion-input>
  </ion-item>

  <!-- BOTÕES CADASTRO -->
  <div *ngIf="cadastrar">
    <button ion-button color="light" outline block (click)="cadastro()">Cadastrar</button><br/>
    <button ion-button color="header" block outline (click)="alterarBotoes(false)">Já é cadastrado?</button>
  </div>

  <!-- BOTÕES LOGIN -->
  <div *ngIf="!cadastrar">
    <button ion-button color="light" outline block (click)="login()">Logar</button><br/>
    <button ion-button color="header" block outline (click)="alterarBotoes(true)">Realizar cadastro</button>
  </div>

</ion-content>
